
<div class="show_event">
   <!--제목삭제
    <%=@showevent.name%>
    -->
    <%@showevent.detail.each do |d|%>
    <%= d %>
    <hr>
    <%end%>
    
<hr>
     <%= image_tag ("event/#{@showevent.name}.jpg"), :class => "event_page_image" %>
    
</div>