.index_img{
    background-size: cover;
}

.place{
 margin-top:56px;
 padding:0;
}



.button_building.col.s3{
    padding:0px;

}

.place_button{
    margin:0 auto;
    background-color:#c7c0c0;
    border-style:none;
    border-bottom-style:solid;
    text-align: center;
    color:black;
    height:90px;
    width: 100%;
    font-size: 35px;
    margin-bottom: 0px;
}

.place_img.col.s9{
    padding:0px;
}

.line_height{
    height:810px;

}

.style_image{
   width:100%;
   vertical-align:middle;
   height:100%;
}

.style_event_image{
   width:100%;
   vertical-align:middle;
    height:100%;
    background-color:#9EEAFA;
}

.style_show_image{
    vertical-align:middle;
    height:100%;
     width:100%;
}

.home_image{
    padding-top:35px;
    width:100%;
    height:100%;
}


.event_page_image{
   width:100%;
   vertical-align:middle;
   height:100%;
   padding-top:70px;
}


#title_font{
    color:white;
}

